<h2>Admin Details<h2>

    <br>
    <br>
    <div class="container">
        <div class="main-body">
    
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                           
                            
                           
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6  href="src\app\package\package.component.html" class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline">
                                       
                                       
                                       
                                    </svg></h6>
                                    <!-- <a href="src\app\package\package.component.html">Show all Packages</a>  -->
    
                                    <button class="btn btn-success" routerLink="/all-customer-details">Show all Customer Details</button>
                                    <button class="btn btn-success" routerLink="/all-merchant-details">Show all Merchant Details</button>
    
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                
                                    <h6 class="mb-0">Admin Name : Admin</h6>
                                
                                <div class="col-sm-9 text-secondary">
                                    
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                              
                                    <h6 class="mb-0">Email ID: Admin123@gmail.com </h6>
                                
                                <div class="col-sm-9 text-secondary">
                                  
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                
                                    <h6 class="mb-0">Mobile No. : 8600112908</h6>
                                
                                <div class="col-sm-9 text-secondary">
                                   
                                </div>
                            </div>
    
                            <hr>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    &nbsp;
    <button class="btn btn-danger" routerLink="/login" >Log Out</button>
    <br>
    <br>